@model IEnumerable<Member>
@{
    ViewData["Title"] = "Index";
}

<h1>List Members in Descending Order of Membership Date Order</h1>

<br/>
<br/>
<br/>

<table>
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Date of Membership</th>
            <th>Library Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.MembershipDate
                </td>
                <td width="50%">
                    @obj.Library.Name
                </td>
               

            </tr>
        }
    </tbody>
</table>
