<h1> Count Members by Library</h1>
<a asp-controller="Library" asp-action="Create" class="btn btn-primary">
    Create a Library
</a>

 @if (ViewBag.countMembersPerLibrary != null)
 {
    <table>
        <tbody>
      
            @foreach (var obj in ViewBag.countMembersPerLibrary)
            {
            <tr>
                <td width="50%">
                    @obj.LibraryName
                </td>
                <td width="30%">
                    @obj.Members
                </td>




            </tr>
            }
        </tbody>
    </table>
 }
 else
 {
   <p> No data found</p>
 }
  
 }


