@using LibraryMVCGroup.ViewModels
@model LibraryCountViewModel
<h1> More Library Info</h1>

<br />
<br />
<br />
<br />

@if (Model != null)
{
    <table>
        <thead>
            <tr>
                <th>Library Name</th>
                <th>Number of Members</th>
                <th>Number of Books</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td width="50%">
                    @Model.LibraryName
                </td>
                <td width="30%">
                    @Model.memberCount
                </td>

                <td width="30%">
                    @Model.bookCount
                </td>


            </tr>

        </tbody>
    </table>
}
else
{
    <p> No data found</p>
}




