@model IEnumerable<Library>


<h1> Total Books by Library</h1>


<table>
    <thead>
        <tr>
            <th>Library Name</th>
            <th>Telephone Number</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
		{

            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%">
                        @obj.Name
                    </td>
                    <td width="20%">
                        @obj.ContactNumber
                    </td>

                    <td width="50%">
                        <div class="w-135 btn-group" role="group">
                            <a asp-controller="Library" asp-action="CountsPerLibrary" asp-route-id="@obj.Id">More Library Info</a>
                        </div>
                    </td>


                </tr>
            }
        }
        else
        {
            <p> No data available yet</p>
        }
    </tbody>
</table>