@using LibraryMVCGroup.ViewModels
@model IEnumerable<LibraryBooksViewModel>
@{
    ViewData["Title"] = "Book Index By Library";
}

<h1>Available Books Per Library</h1>
<p></p>
<p></p>
<p></p>
<br/>


<table>
    <tbody>
        @foreach (var group in Model)
        {
            <h2>@group.LibraryName</h2>
            <ul>
                @foreach (var bookTitle in group.BookTitles)
                {
                    <li>@bookTitle</li>
                }
            </ul>
        }
    </tbody>
</table>

