@using LibraryMVCGroup.ViewModels
@model IEnumerable<LibraryBooksViewModel>
@{
    ViewData["Title"] = "Book Index By Library";
}

<h1>Available Books Per Library</h1>
<p></p>
<p></p>
<p></p>
<br/>


<table>
    
    <tbody>
        @if (Model != null)
		{

            @foreach (var group in Model)
            {
                <h2>@group.LibraryName</h2>
                <ul>
                    @foreach (var bookTitle in group.BookTitles)
                    {
                        <li>@bookTitle</li>
                    }
                </ul>
            }
        }
        else
        {
            <partial> No data available yet.  Please seek advice from Administrator</partial>
        }
    </tbody>
</table>

